--color-base-00: var({color0});
--color-base-05: var({color0});
--color-base-10: var({color8});
--color-base-20: var({color8});
--color-base-25: var({color8});
--color-base-30: var({color8});
--color-base-35: var({color7});
--color-base-40: var({color7});
--color-base-50: var({color15});
--color-base-60: var({color15});
--color-base-70: var({color15});
--color-base-100: var({color15});
