@import '../../.cache/wal/colors-waybar.css';

* {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    background-color: transparent;
}

#clock,
#battery,
#workspaces,
#utils {
    background-color: alpha(@background, 0.7);
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    border-bottom: 3px solid @foreground;
    border-top: 3px solid @foreground;
}

#bluetooth,
#network,
#custom-power {
    margin-right: 10px;
    margin-left: 10px;
}

#clock {
    color: @color7;
    border: 3px solid @foreground;
    border-radius: 100px 10px 100px 10px;
    margin-left: 10px;
    padding: 0px 40px 0px 40px;
}

#battery {
    color: @color7;
    border: 3px solid @foreground;
    border-radius: 10px 50px 50px 100px;
    margin-right: 5px;
    padding: 0px 40px 0px 40px;
}

#network {
    margin-right: 20px
}


#custom-power {
    margin-right: 20px;
}

#utils {
    color: @color7;
    border: 3px solid @foreground;
    border-radius: 50px 100px 10px 50px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
}

#workspaces {
    border-radius: 70px 70px 10px 10px;
    border: 3px solid @foreground;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

#workspaces button {
    color: @color7;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#workspaces button.active {
    color: @color7;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

#workspaces button:hover {
    color: @color7;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-color: transparent;
}
